/* Start importing some of the variables from the main App.css file */

:root {
    --extreme-dark-blue: #01335B;
    --dark-blue: #213C6E;
    --periospot-dark-blue: #38507C;
    --yellow-periospot: #FFC431;
    --grey-periospot: #BFBFBF;
    --white-periospot: #FFFFFF;
    --black-periospot: #000000; 
    
    /* Text sizes */
    --text-size-1: 1.2em;
    --text-size-2: 1.5em;
    --text-size-3: 2em;
    --text-size-4: 2.5em;
  }

  .center-content {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
  }

  .center-content label {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: row;
    margin-bottom: 10px;
    font-size: var(--text-size-3);
    text-align: left;
  }
  
  .choices {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
  }

  .choices div {
    border: 1px solid var(--yellow-periospot);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .choices input[type="checkbox"] {
    /* Basic custom styles for checkboxes */
    cursor: pointer;
    width: 30px;
    padding: 0;
    height: 30px;
    background-color: var(--periospot-dark-blue);
    border: 1px solid var(--yellow-periospot);
    border-radius: 5px;
    appearance: none;
  }

  .choices input[type="radio"] {
    /* Basic custom styles for checkboxes */
    cursor: pointer;
    width: 30px;
    padding: 0;
    height: 30px;
    background-color: var(--periospot-dark-blue);
    border: 1px solid var(--yellow-periospot);
    border-radius: 5px;
    appearance: none;
  }
  
  .choices label {
    /* Styles for the label which can include padding, display type, etc. */
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 20px;
    user-select: none; /* This will prevent the text from being selectable, which is standard for custom checkboxes */
  }

  #submitQuizForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    background-color: var(--yellow-periospot);
    border-radius: 15px;
    padding: 15px 15px;
    box-shadow: none;
    border-style: none;
    color: black;
    font-size: 20px;
    margin-top: 20px;
    }

    .image-choices {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: calc(100% - 10px);
        /* background-color: var(--yellow-periospot); */
        border-radius: 15px;
        box-shadow: none;
        /* border-style: none; */
        /* color: black; */
        /* font-size: 20px; */
        margin-top: 20px;
        min-height: 367px;
        align-content: flex-start;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: stretch;
    }

    .image-choice img {
        max-width: 200px;
        max-height: 200px;
        border-radius: 15px;
        border: 1px solid var(--yellow-periospot);
        width: 100%;
    }

    .image-choice label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px; /* Adjust as needed */
        font-size: 20px;
        color: white;
        /* Other styles if necessary */
      }

      .image-and-paragraph {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 10px;
        font-size: 20px;
        color: white;
        flex-wrap: wrap;
        align-content: flex-start;
        max-width: 200px;
    }

    .image-choice p {
        margin-top: 10px;
        font-size: var(--text-size-1);
        color: white;
    }


