:root {
  --extreme-dark-blue: #01335B;
  --dark-blue: #213C6E;
  --periospot-dark-blue: #38507C;
  --yellow-periospot: #FFC431;
  --grey-periospot: #BFBFBF;
  --white-periospot: #FFFFFF;
  --black-periospot: #000000; 
    /* Text sizes */
    --text-size-1: 1.2em;
    --text-size-2: 1.5em;
    --text-size-3: 2em;
    --text-size-4: 2.5em;
  }

#root {
  max-width: 60%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--extreme-dark-blue);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--dark-blue));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em var(--periospot-dark-blue));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.logo-image img {
  height: 40vmin;
  pointer-events: none;
}

.start-button {
  background-color: var(--yellow-periospot);
  border-radius: 15px;
  padding: 15px 15px;
  font-size: var(--text-size-2);
  font-weight: 700;
  color: var(--extreme-dark-blue);
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 300ms;
}
.start-button:hover {
  background-color: var(--dark-blue);
}
